<body>
    <div class="top">
        <%= image_tag("top.jpg",class:"toping") %>
    </div>
    <div class="about">
        <h1>About</h1>
        <div class="abouts">
            <div class="about-image">
            <%= image_tag("about1.jpg", class: "aboutimg") %>
            </div>
            <div class="about-text">
                新しい音楽との出会い
            </div>
        </div>
        <div class="abouts">
            <div class="about-text">
            あいうえお
            </div>
            <div class="about-image"> 
            <%= image_tag("about2.jpg", class:"abouting") %>
            </div>
        </div>
    </div>
</body>